
        body {
            margin: 0; /* Reset default margin */
            background-color:#DCFFCC
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
        }

        .navbar .icon {
            width: 40px;
            height: 40px;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
        }

        .background-image {
            background-image: url("images/EARTH.png");
            background-repeat: no-repeat;
            background-size: cover; /* Use cover to fill the div */
            height: 400px;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    /* Existing CSS remains unchanged */



.grid-container {
    display: grid;
    grid-template-columns: 50% 50%; /* 1fr for left side, 400px for right side */
    gap: 10px;
    padding: 20px;
}

.left {
    display: grid;
    margin-left: 50px;
    padding: 10px;
}

.right {
    width: 100%;
   
}

.right img {
    max-width: 200%; /* Ensure image doesn't overflow container */
    height: auto;
}

input[type="button"] {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.font{
    font-size: 20px;
    font-weight: bold;
}




